:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
}


body {
    background: var(--clr-bg);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

* {
    font-family: 'Poppins', sans-serif;
}


#nameHeader {
    color: var(--clr-neon);
    text-align: center;
    margin-top: 15%;
    font-size: 650%;
    opacity: 0%;
}

#belowName {
    text-align: center;
    color: var(--clr-neon);
    margin-top: -3.5%;
    font-size: 200%;
    opacity: 0%;
}




#ryanName {
    animation: blink 5s infinite;
    text-shadow: 
    0 0 0.125em rgba(255, 255, 255, 0.3),
    0 0 0.05em currentColor;
}

#learnMore {
    opacity: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 50%;
    width: 8%;
    border-radius: 6px;
    border: var(--clr-neon) .125em solid;
    box-shadow: 0 0 1em 0.01em var(--clr-neon);
    background-color: var(--clr-neon);
    position: relative;
    font-size: 120%;
}

#aboutMe {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26%;
    font-size: 300%;
    color: var(--clr-neon);
}

/* 
Test
*/

#aboutMeContainer {
    opacity: 0;
}

#aboutmeInfo {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    margin-left: 15%;
    color: var(--clr-neon);
    font-size: 230%;
    max-width: 35%;
}

#aboutmeInfo2 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-left: 45%;
    color: var(--clr-neon);
    font-size: 230%;
    max-width: 35%;
}


#projectHeader {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-neon);
    font-size: 300%;
}

#project1 {
    margin-top: -1%;
    opacity: 0;
}

#projectName {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-neon);
    font-size: 2vw;
}

#projectdescription {
    margin-left: 55%;
    margin-top: -15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-neon);
    font-size: 1.3vw;
    max-width: 60%;
}

#projectLink {
    text-decoration: none;
    margin-left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-neon);
    font-size: 1.5vw;
}

#project1image {
    height: auto;
    width: 50vw;
    margin-left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5vw;
}

.contactMe {
    opacity: 0;
}

#contactHeader {
    margin-top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-neon);
    font-size: 300%;
}

#githubContainer {
    width: 1vw;
}

#github {
    top: 95%;
    width: 3.5%;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

#github:hover{
    transform: rotate(45deg);
    transition: 0.2s;
}


#footerText {
    margin-top: 15%;
    opacity: 0;
}


@media screen and (max-width: 1557px) {
    #learnMore {
        width: 20%;
    }

    #projectdescription {
        font-size: 150%;
    }

    #github {
        transform: scale(230%);
    }
}

@media screen and (max-width: 990px) {
    #projectdescription {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding-top: 5%;
        font-size: 250%;
        max-width: 60%;
    }

    #project1image {
        width: 70vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    #projectLink {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding-top: 5%;
        font-size: 250%;
    }

    #projectName {
        font-size: 250%;
    }

    #github {
        transform: scale(250%);
    }
}


@media screen and (max-width: 632px) {
    #learnMore {
        width: 35%;
    }

    #projectdescription {
        font-size: 150%;
    }
}


@keyframes rotate {
    100% {
        transform: rotate(45deg);
    }
}


@keyframes nameAppear {
    0% {
        transform: translateX(-15vw);
        opacity: 0%;
    }

    100% {
        transform: translateX(1vw);
        opacity: 100%;
    }
}

@keyframes blink {
    60%, 70%, 79% {
        opacity: 1;
    }

    65%, 67%, 76%, 78% {
        opacity: 0.2;
        text-shadow: 
        0 0 0.10em rgba(255, 255, 255, 0.3),
        0 0 0.02em currentColor;
    }

    66%, 69%, 77% {
        opacity: 0.8;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}